body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: montserrat extrabold;
  font-size: 80px;
}

p {
  font-family: montserrat medium;
  font-size: 14px;
}

.navhead {
  height: 152px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 60px;
}

.navhead button {
  border-radius: 24px;
  border: 2.5px solid #707070;
  width: 121px;
  height: 43px;
  background-color: #fff;
  color: #707070;
  font-family: mistral;
  font-size: 20px;
  margin-left: 40px;
}

.navhead button:hover {
  background-color: #84572C;
  border: none;
  color: #fff;
}

.navhead a {
  text-decoration: none;
  font-family: mistral;
  color: #707070;
  font-size: 20px;
}

.navhead a:hover {
  color: #84572C;
}

.bg-helper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
}

.bg {
  width: 50%;
}

.box-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 123px;
  margin-bottom: 26px;
}

.box-container p {
  width: 151px;
}

.wrapper {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wery {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wery img {
  width: 46%;
}

.form-container {
  padding-right: 20%;
  font-family: montserrat;
  width: 54%;
}

.input-container:first-child {
  box-shadow: 0px 3px 56px rgba(0,0,0,0.09);
}

.form-control {
  border: 0px;
}

.form-control::placeholder {
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 50%;
}

.form-container input {
  height: 44px;
  box-shadow: 0px 3px 56px rgba(0,0,0,0.09);
  border: none
}

.input-container:last-child input:first-child {
  margin-right: 5%;
}

.input-container:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-container:last-child input {
  box-shadow: 0px 3px 56px rgba(0,0,0,0.09);
}

.input-container:last-child .form-control {
  display: initial;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.submit-btn button {
  width: 97px;
  height: 40px;
  background-color: #3A3A3A;
  border-radius: 6px;
  color: white;
  font-family: montserrat;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.account {
  width: 938px;
  height: 286px;
  margin-top: 18%;
  display: flex;
  justify-content: space-between;
}

.account-wrapper {
  padding-left: 15%;
}

.amount-dispaly {
  display: flex;
  align-items: center;
  font-size: 136px;
  font-family: montserrat semibold;
  color: #ffffff;
}

.amount-dispaly span {
  text-shadow: 1px 1px 99px rgba(58, 58, 58, 0.473);
}

.content-container {
  width: 245px;
}

.content-container P {
  width: 151px;
}

.cards-wrapper {
  margin-top: 21%;
  padding-left: 18%;
  display: flex;
  flex-direction: column;
}

.head-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-content p {
  width: 151px;
  margin-left: 4%;
}

.cards-container {
  width: 395px;
}

.fin-card {
  width: 382px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  box-shadow: 0px 3px 56px rgba(0,0,0,0.09);
}

.card-type {
  font-family: montserrat semibold;
  font-size: 18px;
}

.card-number {
  font-family: montserrat;
  font-size: 16px;
  margin-left: 37px;
}

.card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4%;
}

.edit-card {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 26px;
  margin-left: -14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
}

.addcard-wrapper {
  margin-top: 11%;
  padding-left: 39%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerr {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.data {
  display: flex;
  justify-content: space-between;
}

.error {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: red
}